window {
        background-color: rgba (0, 0, 0, 1.0)
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: #FCB192;
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #FCB192;
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none;
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
        font-family: Liberation;
/*        font-weight: bold;  */
        color: rgba (255, 255, 255, 1);
}

button:hover {
	background-color: rgba (255, 255, 255, 0.1)
}
